.page-loading {
  height: 2px;
  background: blue;
  width: 1%;
  animation: page-loading-animation 0.5s ease forwards;
}

@keyframes page-loading-animation {
  0% {
    width: 1%;
  }
  99% {
    width: 100%;
  }
  100% {
    width: 1%;
    visibility: hidden;
  }
}
